<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="PythonEnvPath" value="C:\Users\yuling\Anaconda3\envs\hairnutenv\python.exe"/>
    <add key="ScriptPath" value="scripts/generate.py"/>
  </appSettings>
</configuration>