<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="PythonEnvPath" value="D:\Develop\Anaconda3\envs\hairnut\python.exe"/>
    <add key="GeneratedImagesDir" value="D:\HairNut\generated_images"/>
    <add key="ScriptPath" value="scripts\generate.py"/>
  </appSettings>
</configuration>